{% extends 'main/base.html' %}

{% load static %}

{% block title %}
страница про таблицы
{% endblock %}
 
{% block content %}
<div class="container6">
    <form method="post" class="form-control">
        {% csrf_token %}
        {{ form.id }}
        {{ form.date }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</div>
        <div>
            {% if form %}
            <table width="100%">
                <th></th>
                {% for prepods in form %}
                <th>{{ prepods.lecturer }}</th>
                {% endfor %}
                {% for el in form %}
                <tr>
                    <th><div>{{ el.beginLesson }}-{{ el.endLesson }}</div><small>{{ el.lessonNumberStart}}-я пара</small></th>
                    <td>{{ el.discipline }}<br>
                        {{ el.kindOfWork }}<br>
                        {{ el.auditorium }}<br>
                        {% if el.stream != None %}
                        {{ el.stream }}
                        {% elif el.group != None %}
                        {{ el.group }}
                        {% else %}
                        {{ el.subGroup }}
                        {% endif %}<br>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>Сначала введите id</p>
            {% endif %}
        </div>
    </div>
{% endblock %}