.h1{
    font-family: 'Trebuchet MS';
    font-size: 72;
    text-align: center;
    padding-top: 5%;

}
.body{
    background-color: aqua;
}
.p1{
    font-family: 'Trebuchet MS';
    text-align: center;
    text-weight: bold;
}
.obama{
    text-align: center;
    opacity: 50%;
}
.mp{
    margin: 5%;
}