{% extends 'main/base.html' %}

{% block title %}
страница про нас
{% endblock %}
 
{% block content %}
<h1 align="center">О приложении</h1>
    <h1> </h1>
    <h1> </h1>
    <h1> </h1>
<h5 align="center">Веб-сайт является неофициальным.</h5>
<h5 align="center">Источник данных:https://rasp.omgtu.ru/</h5>
    <h1> </h1>
    <h1> </h1>
    <h1> </h1>
<h5 align="center">Данный сайт был разработан студентами Кафедры Защиты Информации, в качестве проектной работы.</h5>
<h5 align="center">Дабы упростить повседневность как и себе, так и окружающим.</h5>
<h5 align="center">Надеемся, что сделали ваш день чуть лучше.</h5>
{% endblock %}