{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Таблица рассписания
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="form-control">
        {% csrf_token %}
        {{ form.name }}
        {{ form.date }}
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div>
<div>
    {% if form.eventsData %}
    {% for element in form.eventsData.time %}
    <table border="1" cellspacing="5" cellpadding="5">
        <tr>
            <td>{{element.date}}</td>
            {% for pair in element.pairs %}
            <td>
                {{pair.start}} - {{pair.end}}
            </td>
            {% endfor %}

        </tr>
        {% for item in form.eventsData.schedule %}
        <tr>
            <td>{{item.object}}</td>
            {% for sch_pair in item.schedule %}
            <td>
                {% for pair in element.pairs %}
                    {% if sch_pair.start == pair.beginLesson %}
                        {% if sch_pair.start == pair.endLesson %}
                        Дисциплина: {{sch_pair.discipline}}<br>
                        Тип работы: {{sch_pair.kindOfWork}}<br>
                        Аудитория: {{sch_pair.auditorium}}<br>
                        Вместимость: {{sch_pair.auditoriumAmount}}<br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>

        {% endfor %}
    </table>
    {% endfor %}
    {% else %}
    <div class="container6">
        <p>Сначала введите запрос</p>
    </div>
    {% endif %}
</div>
{% endblock %}
